<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Регистрация в системе</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="text-center">Зарегистрироваться в системе</h2>
    <form th:action="@{/register}" method="post" class="border rounded shadow p-3 mt-2" th:object="${registrationForm}">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input th:field="*{email}" type="email" class="form-control" id="email" name="email">
            <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input th:field="*{password}" type="password" class="form-control" id="password" name="password">
            <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm password:</label>
            <input th:field="*{confirmPassword}" type="password" class="form-control" id="confirm_password">
            <!--            <div th:if="${#fields.hasErrors('registrationForm')}" class="text-danger">-->
<!--                <span th:each="err: ${#fields.errors('registrationForm')}" th:text="${err}"></span>-->
<!--            </div>-->
            <div th:if="${#fields.hasGlobalErrors()}" class="text-danger">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </div>
    </form>
</div>
</body>
</html>